*.hdf5 filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
convolutional_neural_network/* filter=lfs diff=lfs merge=lfs -text
Weights/weights.hdf5 filter=lfs diff=lfs merge=lfs -text
